{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": false
      }
    ],
    "@babel/plugin-syntax-dynamic-import"
  ],
  "sourceMaps": true,
  "env": {
    "front_dev": {
      "presets": ["@babel/preset-react"],
      "plugins": ["react-loadable/babel"]
    },
    "bff_dev": {
      "presets": ["@babel/preset-react"],
      "plugins": [
        "react-loadable/babel",
        "dynamic-import-node",
        [
          "css-modules-transform",
          {
            "devMode": true,
            "extensions": [".scss"],
            "generateScopedName": "[local]__[hash:base64:8]"
          }
        ]
      ]
    },
    "production": {
      "presets": ["minify"],
      "comments": false
    }
  }
}
