{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": false
      }
    ],
    "dynamic-import-node",
    "@babel/plugin-syntax-dynamic-import",
    "react-loadable/babel"
  ],
  "sourceMaps": true,
  "env": {
    "production": {
      "presets": ["minify"],
      "comments": false
    }
  }
}
