{
  "extends": ["../../.eslintrc"],
  "parserOptions": {
    "ecmaFeatures": {
      "sourceType": "module",
      "allowImportExportEverywhere": false,
      "codeFrame": true
    },
    "babelOptions": {
      "configFile": "./src/api/.babelrc.js"
    }
  },
  "env": {
    "node": true
  }
}
